
# Ignore node_modules for the specific template
.vscode/
example/data/
example/themes/julien/node_modules/

# Ignore yarn-related files for the specific template
example/themes/julien/.yarn/
example/themes/julien/yarn.lock
example/themes/julien/package-lock.json
